<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.varunelango.tictactoe" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/tictactoe"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".About"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Game"
            android:label="@string/title_activity_game"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PlayMenu"
            android:label="@string/title_activity_play_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SingleGame"
            android:label="@string/title_activity_single_game"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SingleGameMenu"
            android:label="@string/title_activity_single_game_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SingleGameHard"
            android:label="@string/title_activity_single_game_hard"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Stats"
            android:label="@string/title_activity_stats"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ExtrasMenu"
            android:label="@string/title_activity_extras_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TiltBall"
            android:label="@string/title_activity_tilt_ball"
            android:screenOrientation="portrait">
        </activity>
    </application>

    <uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>
